<launch>

   <node pkg="tf" type="static_transform_publisher" name="map_to_world" args="0 0 0 0 0 0  /map /world 100" />




   <arg name="use_rags" default="true"/>
   <node name="rags_dji_side" pkg="rags_dji_side" type="rags_dji_side.py" output="screen">
	   <param name="use_rags" value="$( arg use_rags )" />
   </node>

</launch>
