<launch>

   <!-- launch zed -- >
   <include file="$(ind zed_wrapper)/launch/zed.launch" >


   <!-- launch depthimage to laserscan -->
   <node name="depthimage_to_laserscan" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" > 
		<param name="/map" value="camera_depth_frame"/>
		<remap from="image" to="/zed/depth/depth_registered"/>
   </node>

   <!-- my node -->
   <node name="rags_dji_side" pkg="rags_dji_side" type="rags_dji_side.py" output="screen">
   </node>
</launch>
